<li [class.editing]="getEditing" (dblclick)="isEditing=!getEditing" (focusout)="isEditing=!getEditing" >
<div class="view" >
  <input (click)="update.emit(item)"
    class = "toggle"
          type  = "checkbox"
          name  = "done"
         [checked]="data.isDone"
  />
  <label [class.completed]="data.isDone">{{data.label}}</label>
  <button (click)="remove.emit(data)" class="destroy"></button>
</div>
<form (ngSubmit)="update.emit({label: newTextInput.value})">
  <input  #newTextInput
          name      = "newTextInput"
          class     = "edit"
          [ngModel]="data.label"
          />
</form>
</li>
