.micro-icon{
  background-image: url('../../assets/micro_icon.svg');
  height: 20px;
  width: 20px;
}

.close_icon{
  background-image: url('../../assets/close_icon.svg');
  height: 20px;
  width: 20px;
}

.restart_icon{
  background-image: url('../../assets/restart_icon.svg');
  height: 20px;
  width: 20px;
}
